<div class="pages" >
    <header id="header" class="fixed-top">
        <div class="container d-flex align-items-center">    
            <a href="#hero" class="logo mr-auto">
                <img src="assets/img/logo/logo.png" alt="">
            </a>
    
            <nav class="nav-menu d-none d-lg-block">
                <ul>
                    <li [routerLink]="['/admin/pages/products']" routerLinkActive="router-link-active" ><a href="javascript:;" >Products</a></li>
                    <li [routerLink]="['/admin/pages/aboutUs']" routerLinkActive="router-link-active" ><a href="javascript:;" >About Us</a></li>                    
                    <li><a href="javascript:;" (click)="logout()" >Logout</a></li>
                </ul>
            </nav>
        </div>
    </header>

    <main id="main">
        <router-outlet></router-outlet>
    </main>
</div>