<div class="modal-header">
    <h5 class="modal-title">{{isEditProduct ? 'Edit' : 'Add'}} Product</h5>

    <button type="button" class="close" data-dismiss="modal" aria-label="Close"
        (click)="activeModal.dismiss('Cross click')">
        <i class="icofont-close"></i>
    </button>
</div>
<div class="modal-body">
    <form [formGroup]="productForm" *ngIf="productForm" (submit)="productFormSubmit()" autocomplete="off" role="form" >
        <div class="row">
            <div class="col-12 mb-3">
                <div class="d-flex flex-row flex-wrap justify-content-center align-items-center w-100 h-100 mb-3 mt-2">
                    <input type="file" hidden #propertyCoverImage (change)="onChangePropertyCoverImage($event)" accept="image/*" >
        
                    <button type="button" class="btn btn-labeled btn-outline-primary mx-2 btn-lg propertyCoverImageBtn" (click)="propertyCoverImage.click()" *ngIf="!productForm.get('imageUrl').value">
                        <span class="btn-label"><i class="icofont-camera icofont-5x"></i></span><br/>Upload a Cover Image 
                    </button>
        
                    <img [src]="productForm.get('imageUrl').value" *ngIf="productForm.get('imageUrl').value" (click)="propertyCoverImage.click()" alt="..." class="img-thumbnail propertyCoverImage">
                </div>        
            </div>

            <div class="col-6">
                <div class="form-group">
                    <label for="name">Product Name</label>
                    <input type="text" class="form-control" id="name" formControlName="name" [ngClass]="{ 'isInvalid': isFormSubmittedAndError('name') }" placeholder="Enter product name" maxlength="100" trim="blur" >

                    <span class="required">*</span>
                    <div *ngIf="isFormSubmittedAndError('name')" class="invalid-feedback">
                        <div *ngIf="isFormSubmittedAndError('name', 'required')">Product name is required.</div>
                    </div>
                </div>       
            </div>

            <div class="col-6">
                <div class="form-group">
                    <label for="description">Product Description</label>
                    <input type="text" class="form-control" id="description" formControlName="description" [ngClass]="{ 'isInvalid': isFormSubmittedAndError('description') }" placeholder="Enter product description" maxlength="200" trim="blur" >

                    <span class="required">*</span>
                    <div *ngIf="isFormSubmittedAndError('description')" class="invalid-feedback">
                        <div *ngIf="isFormSubmittedAndError('description', 'required')">Product description is required.</div>
                    </div>
                </div>       
            </div>
        </div>
    </form>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="activeModal.dismiss('Cross click')">Close</button>
    <button type="button" class="btn btn-primary" (click)="productFormSubmit()" >{{isEditProduct ? 'Update' : 'Add'}}</button>
</div>