<section id="products" class="products" >
    <div class="container" data-aos="fade-up">    
        <form appInvalidFormFocus [formGroup]="webDataForm" *ngIf="webDataForm" (submit)="webDataFormSubmit()" autocomplete="off" role="form" >
            <div class="row">
                <div class="col-12">
                    <div class="form-group">
                        <label for="aboutUs">About Us</label>
                        <textarea class="form-control" id="aboutUs" rows="7" formControlName="aboutUs" placeholder="About Us" maxlength="2000"></textarea>
                    </div>
                </div>
            </div>

            <div class="row mt-3">
                <div class="col-12 text-right">
                    <button type="button" class="btn btn-success btn-sm" (click)="webDataFormSubmit()" >Submit</button>
                </div>
            </div>
        </form>
    </div>
</section>